<div class="container">
  <% @gifs.each_slice(4) do |row| %>
    <div class="row top-margin">
      <% row.each do |gif| %>
        <div class="col-md-3">
          <%= image_tag(gif.image_file, class: 'img-responsive') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
